{% extends "base.html" %}

{% block layout %}
    {% block navbar %}
        {% include "navbar.html" %}
    {% endblock %}

{% if background_image %}

<div class="background-container fullwindow" style="background-image: url({{ url_for('photo_get', blob_key=background_image.image_key) }}); background-repeat: no-repeat;">
</div>
{% endif %}
	<div class="custom-container">
        {% block messages %}
            {% include "messages.html" %}
        {% endblock %}
        {% block contents %}{% endblock %}
    </div>
</div>
{% endblock %}